<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of tasks; let i = index">
      <ion-label>
        <h2><ion-icon name="reader-outline" color="primary" ></ion-icon>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editTask(i)"><ion-icon name="create-outline"></ion-icon></ion-button>
        <ion-button (click)="deleteTask(i)"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="editingTaskIndex !== null">
    <ion-label position="stacked">Editar Tarea</ion-label>
    <ion-input [(ngModel)]="tasks[editingTaskIndex].title" placeholder="Título"></ion-input>
    <ion-textarea [(ngModel)]="tasks[editingTaskIndex].description" placeholder="Descripción"></ion-textarea>
    <ion-button expand="full" (click)="saveTask()">Guardar Cambios</ion-button>
  </ion-item>

  <ion-card-content>
    <ion-label position="stacked">Nuevo Título</ion-label>
    <ion-input [(ngModel)]="newTask.title" placeholder="Ingrese un nuevo título"></ion-input>
    <ion-label position="stacked">Nueva Descripción</ion-label>
    <ion-textarea [(ngModel)]="newTask.description" placeholder="Ingrese una nueva descripción"></ion-textarea>
    <ion-button expand="full" (click)="addTask()">Agregar Tarea</ion-button>
    <ion-button expand="full"  (click)="goToGallery()">Ir a Galeria </ion-button>
  </ion-card-content>

 
</ion-content>
